# Your local properties file, to be adapted and renamed to `build.properties`
# These properties will be different for each website

# Local properties, need to be adapted for each environment

# Database
db.user = root
db.pass = root
db.host = localhost
db.port = 3306
db.name = example

# SVN
svn.user = john
svn.pass = letmein

# Project
project.name.short = example
project.uri = http://dev.example.cnect.eu
project.root = /var/www/example

#Drupal
drupal.private.path = /home/cnector/drupal-private

#Environment indicator
ei.color = #006633
ei.name = Development

# Development
development = false
