# Your local properties file, to be adapted and renamed to `build.properties`
# These properties will be different for each website

# Local properties, need to be adapted for each environment

# Database
build.db.user = root
build.db.password = root
build.db.host = localhost
build.db.port = 3306

# SVN
svn.pass = john.smith
svn.user = letmein

drupal.user = admin
drupal.pass = dontletthesungodownonmeyeah

# Project
project.name.short = dgs
project.name.pretty = "DG Connect"
project.theme = bartik
host = test.dgs.cnect.eu
project.db = "dgs"
project.uri = http://test.dgs.cnect.eu
project.profile = dgs
project.root = /var/www/dgs

# Project modules
project.make = dgs/drupal-org.make
project.modules = dgs_draft_review,date_value_field
project.features = cnect_management_dashboard
project.modules.source = trunk/sites/cnect/modules/custom
project.features.source = trunk/sites/cnect/modules/features/custom

# Contributed code 
contrib.make = dgs/drupal-org.make

# Multisite
multisite.themes = ec_resp, ec_default
multisite.features = multisite_settings, cce_basic_config, multisite_drupal_standard, cnect_management_dashboard, content_examples, ecas_env, multisite_drupal_toolbox, multisite_metatags, multisite_rules_configuration, multisite_settings_core, social_bookmark,solr_config,contact_form   
multisite.modules = ecas, multisite_drupal_features_set_standard, multisite_drupal_toolbox
